<!-- Pagination links -->
{% if paginator.page_trail  %}
    {% assign next_posts = site.posts | where_exp:"post","post.is_generated != true" | where_exp:"post","post.path != page.path" | where_exp:"post","post.date <= page.date" %}
    <div class="pagination pagination-post {{ include.extra_classes }}">
        {% if paginator.is_last != true %}
				  {% if paginator.is_first %}
			 
         <div class="nextpf">
            <a href="{{ paginator.next_page_path }}">
                <span class="text">{{ site.translations.pagination.next_page | default: "Next" }} </span>
			 </a>	
			 </div>
                 {% else %}
			  <div class="nextp">
            <a href="{{ paginator.next_page_path }}">
                <span class="text">{{ site.translations.pagination.next_page | default: "Next" }} </span>
			 </a>	
			 </div>
			  
				 <div class="prevp">
						<a href="{{ paginator.previous_page_path }}"> 
						  <span class="text"> {{ ste.translations.pagination.previous_page | default: "Prev" }}</span>
								
					   </a>
	  
			     </div>
				  
				  
		      {% endif %}
		  
           
        {% else if next_posts.first %}
            	 <div class="prevp">
        <a href="{{ paginator.previous_page_path }}"> 
          <span class="text"> {{ ste.translations.pagination.previous_page | default: "Prev" }}</span>
				
	   </a>
			     </div>
			
        {% endif %}
    
{% endif %}
