<!-- Pagination links -->
{% if paginator.page_trail %}
    {% assign next_posts = site.posts | where_exp:"post","post.is_generated != true" | where_exp:"post","post.path != page.path" | where_exp:"post","post.date <= page.date" %}
    <div class="pagination pagination-post {{ include.extra_classes }}">
        {% if paginator.is_last != true %}
		<div class="nextp">
            <a href="{{ paginator.next_page_path }}">
                <span class="text">{{ site.translations.pagination.next_page | default: "Next" }} </span>
			 </a>	
			 </div>
			     {% if paginator.previous_page %}
				 <div class="prevp">
        <a href="{{ paginator.previous_page_path }}"> 
          <span class="text"> {{ ste.translations.pagination.previous_page | default: "Prev" }}</span>
				
	   </a>
			     </div>
         
    {% endif %}
	
           
        {% else if next_posts.first %}
            <a href="{{ next_posts.first.url }}">
                <span class="text">{{ site.translations.pagination.next_post | default: "Next" }} <svg class="arrow"><use xlink:href="#icon-arrow-right"></use></svg></span>
            </a>
			
        {% endif %}
    
{% endif %}
